@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  
  --color-brand-bg: #080808;
  --color-brand-card: #121212;
  --color-brand-border: rgba(255, 255, 255, 0.05);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply antialiased transition-colors duration-500;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .stroke-text {
    -webkit-text-stroke: 1px currentColor;
    color: transparent;
  }
}
